<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header">
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
        <button id="writeButton">새 글 작성하기</button>
        <br>
        <table class="board_table">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>생성 시간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td>
                    <a th:text="${board.id}"></a>
                </td>
                <td class="board_title">
                    <a th:text="${board.title}" th:href="${'/board/view/' + board.id}"></a>
                </td>
                <td th:text="${board.createTime}"></td>
            </tr>
            </tbody>
        </table>
    <div th:replace="fragments/footer :: footer" />
</div>
<script type="text/javascript">
    document.getElementById('writeButton').addEventListener('click', function (e) {
        location.href = '/board/write/';
    });
</script>
</body>
</html>