<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form id="updateForm" role="form" th:object="${boardForm}" method="post">
        <div>
            <label th:for="title">제목</label>
            <br>
            <div>
                <input id="title" class="title" type="text" name="title" th:field="*{title}" placeholder="제목">
            </div>
        </div>
        <hr>
        <div>
            <label th:for="content">내용</label>
            <br>
            <input id="content" class="content" type="text" name="content" th:field="*{content}" placeholder="내용">
            <br>
        </div>
        <input id="pwd" type="password" name="password" th:field="*{password}" placeholder="비밀번호">
        <hr>
        <button type="button" onclick="validForm()">수정하기</button>
    </form>
    <div th:replace="fragments/footer :: footer"/>
</div>

<script type="text/javascript">
    function validForm() {
        const form = document.getElementById("updateForm");
        const title = document.getElementById("title");
        const pwd = document.getElementById("pwd");

        const split = document.location.href.toString().split('/');
        const id = split[split.length - 1];

        if (checkTitle(title)) {
            if (validPwd(pwd)) {
                form.action = "/board/update/" + id;
                form.submit();
            }
        }
    }

    function checkTitle(title) {
        if (title.value === '' || title.value.length > 20) {
            title.style.borderColor = 'red';
            alert('제목은 비어있거나 20글자를 초과할 수 없습니다.');
            return false;
        }
        return true;
    }

    function validPwd(pwd) {
        if (pwd.value === '' || pwd.value.length !== 4) {
            document.getElementById("pwd").style.borderColor = 'red';
            alert('패스워드는 4글자 여야 합니다.');
            return false;
        }
        return true;
    }
</script>
</body>
</html>