<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form id="updateForm" role="form" th:action="${'/board/update/' + boardForm.id}" th:object="${boardForm}" method="post">
        <div>
            <label th:for="title">제목</label>
            <br>
            <div>
                <input class="title" type="text" name="title" th:field="*{title}" placeholder="제목" required maxlength="20" minlength="0">
                <span th:text="${valid_title}"></span>
            </div>
        </div>
        <hr>
        <div>
            <label th:for="content">내용</label>
            <br>
            <input type="text" class="content" name="content" th:field="*{content}" placeholder="내용">
            <br>
        </div>
        <input type="password" name="password" th:field="*{password}" placeholder="비밀번호">
        <hr>
        <button type="submit">작성하기</button>
    </form>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>